backend/static/
backend/static/index.html

backend/src/static
backend/static/index.html
backend/logs/posts.log


backend/__pycache__/*
backend/src/__pycache__/*

#ignore all pyc files from any pycache folders
*.pyc

#ignore sqlite db files
*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.svelte-kit/

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env
