/* The way the stylesheet was imported before, the :root was some kind of container SvelteKit renders the app in
The way it is imported now, it (I assume) refers to the document root
This means styles like background-color stopped being applied (dark mode broke) => presumably because body didn't inherit what was set on its parent
=> so changing this selector from :root to body now
*/

body:not(.admin){
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  font-family: Dosis, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{ /*for header nav to not have margins*/
  margin: 0;
  height: 100vh;
}
/*For footer to be on the bottom
https://www.reddit.com/r/sveltejs/comments/16904vm/place_footer_at_end_of_page/
*/
html, body { min-height: 100vh; }
body footer { position: sticky; top: 100vh; }

h1 {
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.center{
  text-align: center;
}
/* This allows buttons without further attributes, to exist with reasonable default styles
while also not overwriting buttons used by the admin table (which I want styled with tailwind (shadcn) exclusively */
button:not([data-admin] *) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2rem;
  font-weight: 535;
  letter-spacing: 0.5px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:not([data-admin] *):hover {
  border-color: #0070BB;
}
button:not([data-admin] *):focus,
button:not([data-admin] *):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button:not([data-admin] *)  {
    background-color: #eaebec; /*#e3e4e8;*/ /*lavender*/
  }
  nav{
    background: #0257a5;
  }
}

/*Setting nav be dark mode on admin page 
(while the rest of the admin page *always* follows a light theme)
Explanation: If I set the nav on the admin page to be always light theme,
I would have to modify the styles governing the main logo selection.
I found doing this easier.
Ideally, I would of course like to resolve theming conflicts 
(which manifested strongly in dark theme - in light theme, I don't sense any)
and apply a proper dark theme to the admin table as well
*/
body.admin nav{
  background-color: #242424;
}

body.admin button:not([data-admin] *)  {
  background-color: #eaebec; /*#e3e4e8;*/ /*lavender*/
}

body.admin a.button  {
  background-color: #eaebec; /*#e3e4e8;*/ /*lavender*/
  color: black;
}


@font-face {
  font-family: 'Dosis';
  src: url('Dosis-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
}

h1, h2, input { /*davat na select nema smysl, option stejne ma system font no matter what*/
  font-family: 'Dosis';
}

input, label{
  font-weight: 500;
  font-size: 1.2rem;
}

p{
  font-size: 1.3rem;
  /*letter spacing 0.5px makes it look close to the brand manual*/
  letter-spacing: 0.5px;
  font-weight: 540;
}